# Virtual environments
venv/
venv*/
.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Postman
.postman/
postman/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Model Files
*.pkl

# Generated Images
*.png

# Temporary Files
*.log

# Operating System Files
.DS_Store
Thumbs.db

# Results
results/

# Models
models/
Mini_Project/models/